body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}
.masthead {
  height: 100vh;
  background: url("/assets/food_background.png") center/cover no-repeat;
  position: relative;
}

.masthead::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
}

.masthead .container {
  position: relative;
  z-index: 2;
}

.masthead-title {
  font-size: 4rem;
  font-weight: 700;
  color: white;
}

.masthead-subtitle {
  font-size: 1.3rem;
  max-width: 650px;
  margin: 0 auto;
}

.about-section {
  padding: 100px 0;
  background: #1a1a1a;
  color: white;
}

.about-section p a {
  color: #0d6efd;
}

.about-image {
  margin-top: 40px;
  max-width: 75%;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

.btn {
  border-radius: 700px;
  background-color: #4e3119; /* بني */
  color: #ffffff;
  transition: 0.3s;
}

.btn:hover {
  background-color: #6b4423; /* بني أفتح شوي بالتحويم */
  color: #ffffff;
}


@media (max-width: 768px) {
  .masthead-title {
    font-size: 2.8rem;
  }

  .masthead-subtitle {
    font-size: 1.1rem;
  }

  .about-image {
    max-width: 95%;
  }
}