<div class="container d-flex align-items-center justify-content-center" style="min-height: 80vh">
  <div class="card shadow p-4" style="width: 100%; max-width: 400px">

    <h3 class="text-center mb-4">Login</h3>

    <form [formGroup]="loginForm" (ngSubmit)="login()">

      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" formControlName="email" placeholder="Enter your email" />
      </div>

      <div class="mb-4">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" formControlName="password" placeholder="Enter your password" />
      </div>

      <button class="btn w-100 mb-3" style="background-color: var(--primary-color); color: white;" type="submit">
        Login
      </button>

      <p class="text-center small text-muted mb-0">
        Don’t have an account?
        <a class="fw-semibold text-black text-decoration-none" routerLink="/signup" style="cursor: pointer">
          Sign Up
        </a>
      </p>

    </form>
  </div>
</div>
