<div class="container mt-5">
  <div class="container mt-5">
    <div class="row">
      <div *ngIf="isLoading"></div>
      <div class="row" *ngIf="!isLoading">
        <div class="col-md-4 mb-4 mt-3" *ngFor="let recipe of filteredRecipes">
          <div class="card h-100" style="width: 90%;">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">{{ recipe.title }}</h5>
              <p class="card-text" [title]="recipe.NER">
                <strong>Ingredients:</strong> {{ truncateText(recipe.NER.join(","),120) }}
              </p>
              <p class="card-text" [title]="recipe.directions">
                <strong>Directions:</strong> {{ truncateText(recipe.directions.join(", "), 120) }}
              </p>
              <a [routerLink]="['/recipes', recipe._id]" class="btn btn-primary mt-auto">
                Check
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>